{% extends "base.html" %}

{% block title %} {{ block.super }} - Profile{% endblock %}

{% block main_content %}

  {% if profiles %}
    {% for profile in profiles %}
      <p>First Name : {{ profile.first_name }}</p>
      <p>Last Name : {{ profile.last_name }}</p>
      <p>Date of Birth : {{ profile.date_of_birth }}</p>
      {% for edup in educationprofiles %}
        <p> School Name : {{ edup.school_name }}</p>
      {% endfor %}
    {% endfor %}
  {% else %}
    <p>Profile not found</p>
  {% endif %}

{% endblock %}
