{% extends "base.html" %}

{% block title %} {{ block.super }} - Profile{% endblock %}

{% block main_content %}

  {% if user_profile %}
      <p>First Name : {{ user_profile.first_name }}</p>
      <p>Last Name : {{ user_profile.last_name }}</p>
      <p>Date of Birth : {{ user_profile.date_of_birth }}</p>
      {% if education_profile %}
        <p> School Name : {{ education_profile.school_name }}</p>
        <p> School Name : {{ education_profile.college_name }}</p>
      {% endif %}
  {% else %}
    <p>Profile not found</p>
  {% endif %}

{% endblock %}
